<div class="container">
  <h2>Showing artist details</h1>

  <div class="card" style="width: 18rem;">
  <img src=<%= @artist.image_url %> class="card-img-top" alt="artist picture">
  <div class="card-body">
    <h5 class="card-title"><%= @artist.name %></h5>
    <p class="card-text"><%= @artist.description %></p>
  </div>
</div>

<div class="card";>
<h3>Artist Videos</h3>
  
<div class="row row-cols-4">
  <iframe width="650" height="315" src="<%= @artist.first_video_id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class="plyr__video-embed" id="player">
  <iframe
    src="<%= @artist.first_video_id %>"
    allowfullscreen
    allowtransparency
    allow="autoplay"
  ></iframe>
</div>
</div>
</div>


<div class="card";>
<h3>Current Booked Events</h3>
  <% if @artist.events.any? %>
<div class="row row-cols-4">
      <%= render @artist.events %>
  <% end %>
</div>
</div>

</div>