<div class="container">  
  <p id="notice"><%= notice %></p>

  <h1>Dance Styles</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Dance Style ID</th>
        <th>Dance Style</th>
      </tr>
    </thead>

    <tbody>
      <% @dance_styles.each do |dance_style| %>
        <tr>
          <td><%= dance_style.id %>
          <td><%= dance_style.name %>
          <td><%= link_to 'Show', dance_style %></td>
          <td><%= link_to 'Edit', edit_dance_style_path(dance_style) %></td>
          <td><%= link_to 'Destroy', dance_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Suggest a new dance style</button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">What dance style would you like to suggest to add to the site?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Enter the dance style below:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

</div>