<div class="container">
<h1>User listing</h1>
  <table class="table table-striped"> 
    <thead></thead> 
    <tr>
      <th>User Name</th>
      <th>Gravatar</th>
      <th>Email</th>
      <th>Event count</th>
      <th>Artist count</th>
      <th colspan="2">Actions<th>
    </tr>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.username, user %>
        </td>
        <td>
              <%= image_tag avatar_url(user), class: "img-circle avatar_large" %>
              <%# <img src=<%= "https://dancewise.s3.amazonaws.com/generic+user+image.png"  class="even-size-artist"> %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= pluralize(user.events.count, "event") %>
        </td>
        <td>
          <%= pluralize(user.artists.count, "artist") %>
        </td>
        <td><%= link_to 'View profile', user, class: "btn btn-outline-primary" %></td>
        <% if logged_in? %>
          <% if user == current_user %>
            <td><%= link_to 'Edit profile', edit_user_path(user), class: "btn btn-outline-secondary" %></td>
          <% end %>
          <% if current_user.admin? %>
            <td><%= link_to "Delete user", user_path(user), class: "btn btn-outline-danger", 
            method: :delete, data: { confirm: "Are you sure you want to delete the user 
            account and all associated events?"} %></td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>