<div class="container">
  <h2>Showing User Details</h1>

   <%= image_tag avatar_url(@user), class: "img-circle avatar_large" %>

  <div>
    <%= link_to "Edit your profile", edit_user_path(@user) %>
  </div>

  <p><%= @user.username %></p>
  <p><%= @user.email %></p>

  <h3>Events created</h3>
  <div class="row row-cols-4">
    <%= render @user.events %>
  </div>
    <br><br>
  <h3>Artists created</h3>
  <div class="row row-cols-4">
    <%= render @user.artists %>
  </div>
</div>