<div class="form-style">
  <%= bootstrap_form_for(@event, data: { controller: "places", action: "google-maps-callback@window->places#initMap" }) do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :description %>
    <%= f.search_field :address, data: { target: "places.field" } %>
    <%= f.search_field :city, data: { target: "places.field" } %>
    <%= f.search_field :state, data: { target: "places.field" } %>
    <%= f.search_field :country, data: { target: "places.field" } %>
    <%= f.search_field :continent, data: { target: "places.field" } %>
    <%= f.collection_select :event_type_id, EventType.all, :id, :name %>
    <%= f.collection_check_boxes :dance_style_ids, DanceStyle.all, :id, :name %>
    <%= f.collection_select :event_frequency_id, EventFrequency.all, :id, :name %>
    <%= f.collection_check_boxes :artist_ids, Artist.all, :id, :name %>
    <%= f.file_field :event_image %>
    <%= f.date_field :event_date, wrapper: { class: "date"} %>
    <%= f.submit "Submit Event" %>
  <% end %>
</div>