<div class="form-style">
  <%= bootstrap_form_for(@event, data: { controller: "places", action: "google-maps-callback@window->places#initMap" }) do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :description %>
    <%= f.text_field :address, data: { target: "places.field" } %>
    <%= f.collection_select :event_type_id, EventType.all, :id, :name %>
    <%= f.select :dance_style_ids, DanceStyle.all.pluck(:name, :id), 
          { label: "What are the main dance styles will be represented at this event?", 
             help: "Select the main dance styles that will be represented in the classes and/or socials."}, 
          { multiple: true, id: "select-dancestyle" } %>
    <%= f.collection_select :event_frequency_id, EventFrequency.all, :id, :name %>
    <%= f.select :artist_ids, Artist.all.pluck(:name, :id), 
          { label: "Which artists have been booked for this event?", 
             help: "Select the artists that will be represented in the classes and/or socials."}, 
          { multiple: true, id: "select-artist" } %>
    <%= f.file_field :event_image %>
    <%= f.date_field :event_start_date, wrapper: { class: "date"} %>
    <%= f.date_field :event_end_date, wrapper: { class: "date"} %>
    <%= f.submit "Submit Event" %>
  <% end %>
</div>