<div class="container">
  <h1><%= @event.name %></h1>
<br>
  <img src=<%= @event.image_url %> class="event-page-image" >

   <% if @event.dance_styles.any? %>
    <div class="row row-cols-4">
      <div class="mt-2">
        <%= render @event.dance_styles %>
        <%= render @event.event_type %>
        <%= render @event.event_frequency %>
      </div>
    </div>
  <% end %>

  <div class="event-detail-wrapper">

  <p><small class="text-muted"><%= formatDateLong(@event.event_date) %></small></p>
  <h2>Event Details</h2>
  <p><%= @event.description %></p>

  <h2>Your Artists: </h2>
  <% if @event.artists.any? %>
    <div class="row row-cols-4">
      <%= render @event.artists %>
    </div>
  <% end %>

 

  </div>
  <div class="data-control-wrapper">
    <% if logged_in? && (@event.user == current_user || current_user.admin?)  %>
      <%= link_to '<button type="button" class="btn btn-outline-primary">
      Edit event
      </button>'.html_safe, edit_event_path(@event) %>

      <%= link_to '<button type="button" class="btn btn-outline-danger">
      Delete event
      </button>'.html_safe, event_path(@event), method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>