<div class="container form-style">
  <h1><%= @event.name %></h1>
<br>
   <% if @event.event_image.attached? %>
       <%= image_tag @event.event_image, class: "event-page-image" %>
    <% else %>
       <p>No event image uploaded.</p>
    <% end %>
    <br>
      <div class="d-grid gap-2 d-md-block">
        <% if @event.website_url.present? %>
           <a href="<%= @event.website_url %>" class="btn btn-outline-primary" target="_blank" >Website</a>
        <% else %>
          <% end %>
        <% if @event.ticket_url.present? %>
           <a class="btn btn-outline-primary" href="<%= @event.ticket_url %>" target="_blank" role="button">Passes</a>
        <% else %>
          <% end %>
        <% if @event.facebook_url.present? %>
           <a class="btn btn-outline-primary" href="<%= @event.facebook_url %>" target="_blank" role="button">Facebook</a>
        <% else %>
          <% end %>
        <% if @event.instagram_url.present? %>
           <a class="btn btn-outline-primary" href="<%= @event.instagram_url %>" target="_blank" role="button">Instagram</a>
        <% else %>
          <% end %>
      </div>
    <br>

     <p class="card-text">
        <div class="p-3 mb-2 bg-info text-white">
          <%= @event.address %> <br>
          <br>
          <%= @event.city %> <%= @event.state %> <%= @event.country %> <%= @event.continent %>
        </div>
        <div class="p-3 mb-2 bg-warning text-dark">
          <%= @event.event_month %> <%= @event.event_year %>
        </div>
    </p>

   <% if @event.dance_styles.any? %>
    <div class="row row-cols-4">
      <div class="mt-2">
        <%= render @event.dance_styles %>
        <%= render @event.event_type %>
        <%= render @event.event_frequency %>
      </div>
    </div>
  <% end %>

  <div class="event-detail-wrapper">

  <p><small class="text-muted"><%= formatDateLong(@event.event_start_date) %></small></p>
  <p><small class="text-muted">
      <% if @event.event_end_date? %>
         <%= formatDateLong(@event.event_end_date) %>
      <% end %>
      </small></p>
  <h2>Event details</h2>
  <p><%= @event.description %></p>

  <h2>Your Artists: </h2>
  <% if @event.artists.any? %>
    <div class="row row-cols-4">
      <%= render @event.artists %>
    </div>
  <% end %>

 

  </div>
  <div class="data-control-wrapper">
    <% if logged_in? && (@event.user == current_user || current_user.admin?)  %>
      <%= link_to '<button type="button" class="btn btn-outline-primary">
      Edit event
      </button>'.html_safe, edit_event_path(@event) %>

      <%= link_to '<button type="button" class="btn btn-outline-danger">
      Delete event
      </button>'.html_safe, event_path(@event), method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>