<h1>Welcome to Dancewise</h1>

<%= link_to 'Article listing', articles_path %> | 
<%= link_to 'About page', about_path %> | 
<%= link_to 'Sign up page', signup_path %> |
<%= link_to 'Users listing', users_path %> |
<%= link_to 'Events listing', events_path %>
