<%= form_with(model: event_status) do |form| %>
  <% if event_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_status.errors.count, "error") %> prohibited this event_status from being saved:</h2>

      <ul>
        <% event_status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
