<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "DANCEWISE", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Suggest a new event", suggest_event_path, class: "dropdown-item" %>
            <% if logged_in? && current_user.admin? %>
              <%= link_to "Create event as admin", new_event_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "View Events", events_path, class: "dropdown-item" %>
            <br>
             <% if logged_in? && current_user.admin? %>
              <%= link_to "Create new event type", new_event_type_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "View event types", event_types_path, class: "dropdown-item" %>
            <br>
              <% if logged_in? && current_user.admin? %>
              <%= link_to "Create new event frequency", new_event_frequency_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "View event frequencies", event_frequencies_path, class: "dropdown-item" %>
          </div>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Artists
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Suggest a new artist", suggest_artist_path, class: "dropdown-item" %>
            <% if logged_in? && current_user.admin? %>
              <%= link_to "Create artist as admin", new_artist_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "View artists", artists_path, class: "dropdown-item" %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dance Styles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if logged_in? && current_user.admin? %>
              <%= link_to "Create new dance style", new_dance_style_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "View dance styles", dance_styles_path, class: "dropdown-item" %>
          </div>
        </li>

         <li class="nav-item">
         <% if logged_in? && current_user.admin? %>
          <%= link_to "Users", users_path, class: "nav-link" %>
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <li> 
            <% if logged_in? %>
              <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <%= image_tag avatar_url(current_user), class: "img-circle avatar_small" %> &nbsp;
              <%= "(Admin)" if current_user.admin? %>
               <%= current_user.username %>
               </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Delete profile", user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?" }%>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout", logout_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", login_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", signup_path, class: "nav-link" %>
          </li> 
        <% end %></li>
          </ul>
    </div>
  </div>
</nav>