<!DOCTYPE html>
  <html>
    <head>
      <title>Dancewise</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%# <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
       <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google, :maps_api_key) %>&libraries=places&callback=initMap" async defer data-turbolinks-eval="false"></script>
      <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
      
    </head>

  <body>
      
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/messages' %>
      <%= yield %>
  </body>
</html>